.footer {
  background-color: #1C2130;
  color: #FFFFFF; /* Cor do texto */
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.footer-logo {
  text-align: center;
}

.footer h2 {
  margin: 0;
}

.footer p {
  margin: 10px 0;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: #FFFFFF; /* Cor dos links */
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline; /* Efeito de hover nos links */
}
